/.ipynb_checkpoints
/__pycache__
raw_data\.ipynb_checkpoints
raw_data\google_openbuildings.cpg
raw_data\google_openbuildings.dbf
raw_data\google_openbuildings.prj
raw_data\google_openbuildings.qmd
raw_data\google_openbuildings.shp
raw_data\google_openbuildings.shx
raw_data\SP_Municipios_2022.cpg
raw_data\SP_Municipios_2022.dbf
raw_data\SP_Municipios_2022.prj
raw_data\SP_Municipios_2022.shp
raw_data\SP_Municipios_2022.shx